Repository auxolotl/website, pull requests merged in 2024-05, with the labels that each got.

#3 feat: i18n
  public/locales/en/translations.json
  src/components/Goals.astro
  src/components/Header.astro
  src/components/Hero.astro
  src/components/Roadmap.astro
  src/components/Values.astro
  src/i18n/ui.ts
  src/i18n/utils.ts
  src/layouts/Layout.astro
Labels: documentation, enhancement, translation

#19 add prettier alongisde .editorconfig
  .github/workflows/check.yml
  flake.lock
  nix/packages/website/default.nix
  package-lock.json
  package.json
  prettier.config.mjs
Labels: enhancement

#14 translations: init danish
  public/locales/dk/translations.json
  src/i18n/ui.ts
Labels: translation

#8 DRAFT: feat: add robots.txt w/ auto update
  .github/workflows/robots.txt.yml
  public/robots.txt
Labels: enhancement

#20 translations: init german
  public/locales/de/translations.json
  src/i18n/ui.ts
Labels: translation
